{% extends 'Home/base.html' %}
{% load static %}
{% block content %}


<div class="container-fluid">
    <div class="row bg-dark">
        <h3 class="text-center"> H</h3>
        <div class="col-sm-4">
            <ul>
                <h4> KEEP IN TOUC </h4>
                <li> Latest News</li>
                <li> Facebook</li>
                <li> Twitter</li>
                <li> YouTube</li>
                <li> Instagram</li>






            </ul>
        </div>

        <div class="col-sm-4">
            <ul>
                <h4> ABOUT US</h4>
                <li>Who we are</li>
                <li>Our Safeguarding Policy</li>
                <li>
                    Accessibility</li>
                <li>Terms and conditions</li>






            </ul>
        </div>

        <div class="col-sm-4">
            <ul>
                <h4> GET INVOLVED</h4>
                <li>Fundraising</li>
                <li>Volunteer</li>
                <li>Donate</li>
                <li>Jobs</li>
                <li>Sponsor a Room</li>







            </ul>
        </div>

        <div class="col-sm-4">

            <ul>
                <h4>CONTACT US</h4>
                <li>Home</li>
                <li>Contact us</li>
                <li>
                    FAQs T 000-000-001</li>
                <li></li>





            </ul>
        </div>
    </div>
</div>


{% endblock %}