{% extends 'Home/base.html' %}
{% load static %}
{% block content %}

<br>


<div class="container">
    <!-- <img src="https://unsplash.com/s/photos/5000*200/" alt=""> -->
</div>

<div class="container-fluid mt-5">



     <!-- places 4 -->
     <section>
        <div class="p-3 bg-teal">
         

                <!-- images Display p-4.1 -->
                <div class="row  mt-3">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <img  style="border: 5px solid teal; height: 250px; box-shadow: 0px 0px 10px darkblue;" src="https://www.crisis.org.uk/media/240603/cri0220_vagrancyact_digital_assets_website_1900x1267px_1.jpg" alt="" class="img-fluid">
                            </div>

                            <div class="card-title">
                                <h4 class="lead-mute text-center text-danger">£12 <span class="text-center"> &nbsp;&nbsp;COULD SPONSOR A ROOM! .</span></h4>
                            </div>
                            <div class="card-text">
                                <p class="lead">A room sponsorship could provide a young person arriving at Centrepoint with a safe and warm place to stay, so they can begin to turn their life around.</p>
                                <button class="btn btn-success text-white bg-teal">25 £</button>
                            </div>

                        </div>
                    </div>


                    <!-- p45 -->

                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <img style="border: 5px solid teal; height: 250px; box-shadow: 0px 0px 10px darkblue;" src="https://ichef.bbci.co.uk/news/400/cpsprodpb/2BDE/production/_102203211_hayleyhomelessness.jpg" alt="" class="img-fluid">
                            </div>

                            <div class="card-title">
                                <h3 class="lead-mute text-center">£50  <span> &nbsp;&nbsp; COULD TEACH LIFE SKILL...</span></h3>
                            </div>
                            <div class="card-text">
                                <p class="lead">Your monthly gift could provide a safe room, and help teach the essential life skills, like budgeting, that help a young person to live independently. !</p>
                                <button class="btn btn-success text-white bg-teal">£50</button>
                            </div>

                        </div>
                    </div>

                    <!-- p46 -->


                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <img style="border: 5px solid teal; width: 350px; height: 250px; box-shadow: 0px 0px 10px darkblue;"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKewYZj09Y5vYsy3zAPSa5Q1VdnsvUrFBA4Q&usqp=CAU" alt="" class="img-fluid">
                            </div>

                            <div class="card-title">
                                <h3 class="lead-mute text-center">£100  <span> &nbsp;&nbsp; <br>
                                    COULD GIVE COUNSELLING.</span></h3>
                            </div>
                            <div class="card-text">
                                <p class="lead">Your gift could provide a young person with their own room, as well as the counselling they need to move on from the trauma of homelessness and turn their life around.</p>
                                <button class="btn btn-success text-white bg-teal">£100 </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Booking Touch With Us -->

    <div class="p-3 bg-teal text-white text-center">

        <div class="container">
            <div class="row">
                <div class="col">
                    <h5 class="display-6 fa-2x">FOLLOW NGO HOMELESS SOCIAL MEDIA  ....</h5>

                    <i class="fab fa-youtube  fa-4x m-4"></i>
                    <i class="fab fa-facebook  fa-4x m-4"></i>
                    <i class="fab fa-whatsapp  fa-4x m-4"></i>
                    <i class="fab fa-twitter  fa-4x m-4"></i>
                    <i class="fab fa-telegram   fa-4x m-4"></i>
                    <i class="fab fa-google  fa-4x m-4"></i>
                </div>
            </div>
        </div>
    </div>



    <!-- gallery section -->

   
    <!-- Android symbol  -->

<br>
    <section>
        <div class="container bg-dark text-center text-white">
            <i class="fas fa-caret-square-right  fa-2xl  fa-2xs  fa-10x"></i>
        </div>
    </section>




<br>
<br>
<!-- social advices  -->

<!-- 2 images card data  -->

<div class="container-fluid">
    <div class="row">
        <div class="card bg-dark text-white">
            <img src="https://news.streetsupport.net/wp-content/uploads/2021/04/Councillors-and-Supporters-Homeless-Bill-of-Rights.jpg" class="card-img" alt="Stony Beach"/>
            <div class="card-img-overlay mt-5 text-center" style="color:white;margin-left:930px">
              <h5 class="card-title mt-5" >Food Donation</h5>
              <p class="card-text mt-5">
                “I’d go hungry multiple times a week. I felt so alone, cold and scared.”
              </p>
          
            </div>
          </div>
    </div>
</div>

<!-- end social advices  -->


<!-- matter of Information  -->



<div class="container-fluid mt-5">
 
        <div class="card mb-3 mt-5" style="max-width: 100%;">
            <div class="row g-6">
              <div class="col-md-6">
                <img
                  src="https://wellington.govt.nz/-/media/news-and-events/news-and-information/news/images/2021/08/natalia-and-paulo.jpg?mw=900"
                  alt="Trendy Pants and Shoes"
                  class="img-fluid rounded-start"
                  width="100%"
                />
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title">HOW YOU CAN HELP A YOUNG PERSON REBUILD THEIR LIFE, FOR JUST 40P A DAY</h5>
                  <hr>
                  <small>As a Centrepoint Room Sponsor, you will help us...</small>
                  <p class="card-text">
                   <ul>
                    <li>Provide a warm, safe room for a homeless young person, giving them the stability and security they need to overcome past trauma and begin a new life</li>
                  <li>      Support young people with counselling, health support and practical advice</li>
<li>                        Give young people the skills they need to find a job, or support them into education</li>
                      <li>  Help young people move on independently, rebuilding their lives and relationships</li>
                   </ul>
                  </p>
                 
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

    <!-- contact inofmration -->

    <div class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="col text-center">
                        <a href="">
                            <h1 class="display-1"><i class="fas fa-envelope"></i></h1>
                        </a>
                        <hr>
                        <small class="text-md-start">
                            With the cost-of-living crisis worse than ever, homeless young people are seeing their futures snatched from them. Young people are being hit hard with high inflation rates, meaning many can’t afford food. About one-third of young people cannot access the food needed for normal growth and a healthy lifestyle. <br>
                     <h3 class="text-center">       <cite >Ngo Homeless ...</i></cite></h3>
                        </small>
                    </div>
                </div>

                <div class="col-sm-6  bg-gray">
                    <form action="" method="post">
                        {% csrf_token %}
                        <h1 class="text-center display-4 font-monospace ">Contact Us</h1>
                        <div class="form-group">
                            <input type="text" name="first_name" class="form-control"  required placeholder="Username">
                        </div>

                        <div class="form-group mt-1">
                            <input type="email" name="email"  class="form-control" required  placeholder="Email">
                        </div>

                        <div class="form-group mt-1">
                            <input type="tel"  name="mobile" class="form-control" required  placeholder="Phone Number">
                        </div>

                        <div class="form-group mt-1">
                            <textarea  name="message"  placeholder="your Comment/Enquiry" required    cols="65" rows="5"></textarea>
                        </div>

                        <div class="btn-group ">
                            <input type="submit" value="Submit" class="btn btn-warning" onclick="Touch()">
                            <input type="submit" value="Cancel" class="btn btn-success">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

<br>
<div class="container-fluid mt-5">
    <div class="row bg-dark text-white">
        <h3 class="text-center"> NGO HOMELESS</h3>
        <div class="col-sm-3">
            <ul>
                <h4> KEEP IN TOUC </h4>
               <a href="" class="text-white">
                <li> Latest News</li>
                <li> Facebook</li>
                <li> Twitter</li>
                <li> YouTube</li>
                <li> Instagram</li>
               </a>






            </ul>
        </div>

        <div class="col-sm-3">
            <ul>
                <h4> ABOUT US</h4>
               <a href="" class="text-white">
                <li>Who we are</li>
                <li>Our Safeguarding Policy</li>
                <li>
                    Accessibility</li>
                <li>Terms and conditions</li>
               </a>






            </ul>
        </div>

        <div class="col-sm-3">
            <ul>
                <h4> GET INVOLVED</h4>
                <a class="text-white" href="">
                    <li>Fundraising</li>
                    <li>Volunteer</li>
                    <li>Donate</li>
                    <li>Jobs</li>
                    <li>Sponsor a Room</li>
    
                </a>






            </ul>
        </div>

        <div class="col-sm-3">

            <ul>
                <h4>CONTACT US</h4>
        <a href="" class="text-white">
            <li>Home</li>
            <li>Contact us</li>
            <li>
                FAQs T 000-000-001</li>
      <li>G-mail:- ngohomeless@gmail.com</li>
        </a>




            </ul>
        </div>
    </div>
</div>



<style>
    .bg-teal {
    background-color: teal;
}

.text-teal {
    color: white;
}

.collapse .navbar-nav .nav-item .nav-link {
    color: white;
}

.carousel-item img {
    height: 500px;
}

button {
    border-radius: 100%;
    border: 60px solid black;
    background-color: antiquewhite;
}


/* 3rd images */

.bg-gray {
    background: linear-gradient(20deg, gray, rgb(137, 243, 243));
}

.card-footer img {
    height: 250px;
    overflow: hidden;
    width: 500px;
}

.img-thumbnail {
    height: 200px;
    border: 2px solid black;
    overflow: hidden;
}

.row:hover {
    pointer-events: visiblePainted;
}
</style>


<script>
    function Touch(){
        alert(`Our Ngo Team Service Touch With You Shortly`)
    }
</script>
{% endblock content %}

